:root {
  --color-principal: #d90429;
  --color-secundario: #fff0f3;
  --rojo-claro: #ffccd5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  display: block;
  width: max-content;
  margin: 15px auto;
  text-align: center;
  font-size: 24px;
}
.title::after {
  content: " ";
  display: flex;
  margin-top: 5px;
  background-color: var(--color-principal);
  max-width: 100%;
  height: 2px;
}
@media (min-width: 768px) {
  .title {
    font-size: 34px;
  }
}
.form {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 20px auto;
}
.form__input {
  width: 100%;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-bottom: 1px var(--color-principal) solid;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.form__submit {
  background-color: var(--color-principal);
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.3);
  background-color: var(--color-secundario);
  border-radius: 5px;
}
.card__image {
  height: 300px;
  margin: 0 auto;
  display: flex;
}
.info {
  padding: 20px 10px;
}
.info__title {
  margin-block: 15px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}
.info__tipos {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 20px;
}
.tipo {
  padding: 5px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
}
.tipo--bug {
  background-color: #9eac1a;
}
.tipo--dark {
  background-color: #2c221b;
}
.tipo--dragon {
  background-color: #705fc6;
}
.tipo--electric {
  background-color: #e2a926;
}
.tipo--fairy {
  background-color: #eaabe5;
}
.tipo--fighting {
  background-color: #6b3020;
}
.tipo--fire {
  background-color: #d5471c;
}
.tipo--flying {
  background-color: #798bd7;
}
.tipo--ghost {
  background-color: #474388;
}
.tipo--grass {
  background-color: #409211;
}
.tipo--ground {
  background-color: #877754;
}
.tipo--ice {
  background-color: #81dbf0;
}
.tipo--normal {
  background-color: #908e7e;
}
.tipo--poison {
  background-color: #854784;
}
.tipo--psychic {
  background-color: #d1547e;
}
.tipo--rock {
  background-color: #9e8340;
}
.tipo--steel {
  background-color: #b0b0bc;
}
.tipo--water {
  background-color: #2f7ece;
}

.info__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info__attributes {
  display: flex;
  justify-content: space-between;
}

.info__abilities {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .info__abilities {
    flex-direction: row;

    align-items: center;
  }
}
.info__ability {
  font-weight: 300;
  padding: 5px;
  width: max-content;
  background-color: var(--color-principal);
  color: #fff;
  border-radius: 5px;
}
.info__stats {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info__stats-title {
  margin-bottom: 15px;
}
.info__stats-name {
  padding: 10px 0;
  font-weight: 700;
  border-bottom: 2px solid var(--rojo-claro);
}
.info__stats-value {
  font-weight: 400;
}
.alerta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  margin: 20px auto;
  background-color: var(--color-principal);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
/*Spinner*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: var(--color-principal);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
